<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <title>Factura definitiva</title>
</head>

<body>
    <h1>Pantalla de inicio</h1>

    <button id="btnNormalBill">Factura 1</button>
    <button id="btnKgBill">Factura 2</button>

    <script src="../js/inicio.js"></script>
</body>

</html>